

body {
      background-color: #f5f8fa; 
    }
    
    .registration-success-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Full viewport height */
    }
    
    .success-card {
      background-color: #ffffff; 
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
    }
    h1 {
      color: #586577;
    }
    .dashboard-button {
      background-color: #274d64;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    &:hover {
      background-color: #46819e; 
    }
    }
    .logout-button {
      background-color: #274d64; 
      color: #ffffff; 
      border: none;
      border-radius: 5px;
      font-size: 16px;
      padding: 4px 20px;
      margin-top: 2px;
      cursor: pointer;
      transition: background-color 0.3s ease; 
    &:hover {
      background-color: rgb(212, 41, 15); 
      }
    }